.skills{
    padding-top:5rem;
    & h4{
        font-weight:bold;
        font-size: 1.75rem;
    }
}
.skill-icons{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
}